<%= form_for(resource, as: resource_name, url: user_registration_path, html: { class: "form-signin mt-3" }) do |f| %>

    <%= devise_error_messages! %>

    <!-- Title -->
    <div class="text-center mb-4">
        <h3>Inscription</h3>
        <p>Remplissez le formulaire pour vous inscrire</p>
    </div>
    <!-- End Title -->
      
    <!-- Formulaire -->
    <div class="container col-md-6 justify-content-sm-center">

        <!-- Case précédent le formulaire -->
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="fa fa-user form__text-inner"></span>
                </span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control"  %>
        </div>
      
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="fa fa-lock form__text-inner"></span>
                </span>
            </div>
            <%= f.password_field :password, autofocus: true, autocomplete: "password", placeholder:"Mot de passe", class:"form-control"  %>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="fa fa-key"></span>
                </span>
            </div>
            <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "email", placeholder:"Mot de passe", class:"form-control form__input"  %>
        </div>

         <div>
            <%= f.submit "S'inscrire" %>
        </div>
    </div>

<% end %>

<div class="container col-md-6 justify-content-sm-center mt-4">
    <p>Déjà inscrit? <%= button_to "Se connecter", user_session_path %></p>
</div>