<div class="container row" style= "margin: 45px">

    <div class="col-sm-6 ">
        <h1 class="card-title "> Page Profil</h1>
            
        <%if @user.avatar.attached?%>
        <div style="width:150px; height:150px;">
            <%= image_tag @user.avatar, style:'width:100%; height: 100%', alt: 'avatar' %>
            </div>
        <%else%>
            <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
        <%end%>
        
        <div class="container">
            <p>Prénom : <%=@user.first_name || "" %></p>
            <p>Nom : <%=@user.last_name || "" %></p>
            <p>Description : <%= @user.description || "" %></p>
            <p>Email : <%= @user.email %></p>
        </div>
        
        <%= button_to 'Modifier le profil', edit_user_path, method: :get, class: 'btn btn-primary' %>
    </div>

    <div class="col-sm-6 ">
        <h1 class="mb-5">Vos commandes</h1>
        <% if @user.orders.size > 0 %>
            <% @user.orders.each do |order| %>
                <%= render partial: 'card_order', locals: { order: order } %>
            <% end %>
        <%else%>

            <p>Vous n'avez pas encore passé de commande</p>
        <%end%>
    </div>
</div>
        
       