<%= form_for(resource, as: resource_name, url: user_session_path, html: { class: "form-signin mt-3" }) do |f| %>
    
    <%= devise_error_messages! %>

    <!-- Title -->
    <div class="text-center mb-4">
        <h3>Connexion</h3>
        <p>Identifiez-vous</p>
    </div>
    <!-- End Title -->
      
    <!-- Formulaire -->
    <div class="container col-md-6 justify-content-sm-center">

        <!-- Case précédent le formulaire -->
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="fa fa-user form__text-inner"></span>
                </span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control"  %>
        </div>
      
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="fa fa-lock form__text-inner"></span>
                </span>
            </div>
            <%= f.password_field :password, autofocus: true, autocomplete: "password", placeholder:"Mot de passe", class:"form-control"  %>
        </div>

         <div class="input-group mb-2">
            <%= f.submit "Se connecter" %>
        </div>
    </div>
<% end %>

<div class="container col-md-6 justify-content-sm-center mt-4">
    <p>Vous n'êtes pas encore membre? Rejoignez-nous <%= button_to "S'inscrire", new_user_registration_path, method: :get %></p>
</div>


    
