<div class="container mt-5">
    <div class="row justify-content-sm-center" style="height:400px">
        <div class="col-sm-8 div-img center">
            <% if @cat.image_url %>
                <%= image_tag @cat.image_url, style: "border-radius: 30px; max-height: 700px", class:"img-responsive" %>
            <% else %>
                <%= image_tag @cat.cat_image, size:'700x700', style: "border-radius: 30px;", class:"img-responsive" %>
            <% end %>
        </div>
    
        <div class="col-sm-4 bg-light">
            <div class="row">
                <h2><%= @cat.title %> </h2>
            </div>
            <div class="row">
                <p><%= @cat.price %> €</p>
            </div>
            <!-- Boutons -->
            <div class="row">
                <%= render partial: 'button_add_to_cart', locals: {item: @cat} %>
            </div>

            <div class="row mt-4"> 
                <h4> Description </h4>
            </div>

            <div class="row mt-2">
                <p><%= @cat.description %></p>
            
                <div class="cont-box mt-3" >
                    <i class="fas fa-shipping-fast"> Livraison </i> 
                    <p> Les posters seront envoyés sous format numérique par mail.</p>
                    <i class="far fa-credit-card"> Paiement sécurisé </i>
                    <p> via Stripe et Carte Bancaire</p>
                    <img src="https://media.oovatu.com/infographies/Avis_Qbab-3glekKJoDlgZaaz0A.png" width="500px" height="200px">
                </div>
            </div> 
        </div>
    </div>
</div>
